.TictactoeBoard {
  display: table;
  border-top: 1px solid #888;
  border-left: 1px solid #888;
  margin: 0 auto;
}

.TictactoeBoard__row {
  display: table-row;
}

.TictactoeBoard__cell {
  display: table-cell;
  border-bottom: 1px solid #888;
  border-right: 1px solid #888;
  vertical-align: middle;
}
